import os
import cPickle
import cgi
import urllib
import datetime

from HTMLTags import *
import date_formats
import guess_type

Login(role=['admin','edit'])

SET_UNICODE_OUT('utf-8')

from PyDbLite import SQLite
db_name = %(db_name)s
db_path = REL(%(db_name)s)
table = SQLite.Table('%(table)s',db_path)
table.create(%(table_fields)s,mode="open")

class FieldInfo:

	def __init__(self,typ,not_null=False,default=''):
		self.typ = typ
		self.not_null = not_null
		self.default = default
