.table4fields caption {font-size: 1.7em; color: #84A22A; text-align: left;border-bottom:1px solid;}

.table4fields table {
	margin: 0;
	padding: 0; 
	border-collapse: collapse;
	border-top: none;
	border-bottom: solid #84A22A;
	margin-bottom: none;
	width:80%;
}

.table4fields td, th {padding: 4px 2px; border-bottom: 1px solid #EEE;}
.table4fields td + td {border-left: 1px solid #FAFAFA; color: #999;}
.table4fields td + td + td {color: #666; border-left: none;}
.table4fields td a {color: #444; text-decoration: none; text-align: left;}
.table4fields td a, th a {display: block; width: 100%;}
.table4fields td a:hover {background: #444; color: #FFF;}
.table4fields tfoot th {text-align: right;}
.table4fields th {text-align: left;}
.table4fields th + th {text-align: left;}
.table4fields th + th + th {text-align: left;}
.table4fields th a {color: #F06; text-decoration: none; font-size: 1.1em;}
.table4fields th a:visited {color: #F69;}
.table4fields th a:hover {color: #F06; text-decoration: underline;}
.table4fields thead tr, tfoot tr {color: #555; font-size: 1.1em;}
.table4fields tr {font: 1em sans-serif; background: url(../images/prettyinpink_row.png) repeat-x #F8F8F8; color: #666;}
.table4fields tr:hover {background: #FFF;}