body,td,th { font-family: verdana, sans-serif;
    font-size: 13px;
    }

th { font-family: verdana, sans-serif;
    font-weight: bold;
    }

table.main { border-width: 0px 0px 1px 1px;
    border-color: #000000;
    border-style: solid;
    }

th.main { border-width: 1px 1px 0px 0px;
    border-color: #000000;
    border-style: solid;
    }

table.db_tables { border-width: 1px;
    border-color: #000000;
    border-style: solid;
    padding:2px;
    }

td.db_table { background-color:#D0D080;
    padding=5px;
    }
td.rec_num { background-color:#D0D080;
    padding=2px;
    text-align:right;
    }

.selected {
    width:100px;
    border-style:solid;
    border-width: 1px 1px 0px 1px;
    border-color:#000000;
    text-align: center;
    }
.unselected {
    width:100px;
    border-style:solid;
    border-width: 0px 0px 1px 0px;
    border-color:#000000;
    text-align: center;
    color: #303030;
    background-color: #A0A0A0;
    }
.fill_menu {
    border-style:solid;
    border-width: 0px 0px 1px 0px;
    border-color:#000000;
    }

a.table_menu { text-decoration:none;
    width:15%;
    color: #000000;
    }
a.table_menu:hover { text-decoration:none;
    color:#D0D080;
    
    }


#tblist
{
border-width: 0px 1px 0px 0px;
border-color: #000000;
border-style: solid;
}
#tblist ul
{
padding: 0px 20px;
margin-left: 0;
}

#tblist li a
{
text-decoration: none;
}

#tblist li a:link { color: #000; }
#tblist li a:visited { color: #000; }

#tblist li a:hover
{
color: #000;
background: #AAE;
border-color: #227;
}

#tblist li
{
list-style: none;
padding-top: 4px;
}

span.fold
{
border-width: 1px;
padding: 0px 1px 0px 1px;
border-color: #000000;
border-style: solid;
font-family: courier;
}