div.mtSmartListSlider {
    width: 400px;
    margin: 5px 0;
    background: url(images/slider.png) 0 center repeat-x;
    /*height: 1em;*/
}

div.mtSmartListSlider div.mtSmartListKnob {
    background: no-repeat 0 center;
    cursor: pointer;
    background-image: url(images/blue.png);
    position: relative;
    left: 0px;
    height: 12px;
}

div.advanced {
	width: 400px;
	margin: 5px 0;
	background: url(images/slider.png) 0 center repeat-x;
}
div.advanced div.knob {
	background: no-repeat center center;
	cursor: pointer;
}
div#red div.knob {
	background-image: url(images/red.png);
}
div#green div.knob {
	background-image: url(images/green.png);
}
div#blue div.knob {
	background-image: url(images/blue.png);
}
