/*div.paginator {*/
div.sliderContainer{
	line-height: 23px;
	font-size: 12px;
}

div.mtSmartListSlider {
	width: 180px;
	height: 22px;
	float: left;
	margin: 2px 5px;
	cursor: pointer;
	background: url('images/Slider.png') center center no-repeat;
}

div.mtSmartListKnob {
	width: 22px;
	height: 22px;
	cursor: pointer;
	background: url('images/Knob.png') no-repeat;
}

div.mtSmartListKnob:hover {
	background-position: 0 -22px;
}

span.currentPage {
	font-weight: bold;
}
