<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=iso-8859-1" >
<title>Karrigell $version</title>
<meta name="keywords" content="" >
<meta name="description" content="" >
<link rel="stylesheet" type="text/css" href="default.css" >
</head>
<body>

<div id="upbg"></div>
<div id="outer">
    <table id="header">
        <tr>
        <td id="headercontent">
            <h1>Karrigell<sup>$version</sup></h1>
            <h2>Un canevas web pythonique</h2>
        </td>

		<td id="section">
			<h1>Documentation</h1>

		</td>

    </table>

    <div id="menu">
        <ul>
            <li><a href="/">Accueil</a></li>
            <li><a href="#" class="active">Pourquoi Karrigell?</a></li>
            <li><a href="http://sourceforge.net/project/showfiles.php?group_id=67940">Téléchargements</a></li>
            <li><a href="tour/tour.pih">Prise en main</a></li>
            <li><a href="reference.ks">Référence</a></li>
			<li><a href="http://groups.google.com/group/karrigell">Communauté</a></li>
        </ul>
    </div>
    <div id="menubottom"></div>


    <div id="content">

        <div id="normalcontent">
            <h3><strong>Karrigell</strong> <span>Un canevas web pythonique</span></h3>
            <div class="contentarea">
                <p>Karrigell est un canevas web en Python, souple et doté d'une syntaxe claire et intuitive. Il est indépendant de toute base de donnée, ORM ou moteur de templates, et laisse le programmeur choisir entre plusieurs styles de codage</p>

				<p>Il applique à la programmation web ce que Python lui-même applique à la programmation en général : simple, clair, facile à coder et à maintenir. Pour cela, les scripts Karrigell sont à la base des scripts Python normaux, exécutés dans un espace de noms qui fournit tout l'environnement nécessaire dans une application web : la valeur des champs de formulaires, les entêtes HTTP, les cookies, etc. L'espace de noms fournit aussi des fonctions intégrées pour gérer les sessions, la localisation, les profils utilisateurs, etc

				<p>La façon la plus simple d'utiliser Karrigell est de l'exécuter comme une application autonome, avec un serveur web intégré. Pour les utilateurs de Windows, un exécutable est fourni, de façon que toute l'application, y compris l'interpréteur Python avec la base de données SQLite, peut être lancé d'un simple double clic depuis n'importe quelle machine ou depuis une clé USB

				<p>L'installation derrière le serveur Apache est également très simple, que ce soit comme administrateur de site ou dans le cas d'un hébergement web partagé : une version préconfigurée de Karrigell est fournie sous forme d'archive, tout ce qu'il faut faire est de décompresser son contenu dans le Répertoire Racine et de choisir le mode d'intégration entre serveur et canevas : mode CGI ou avec mod_python. Le choix consiste simplement à renommer un unique fichier !

				<p>Pour écrire des programmes, l'utilisation des "services Karrigell" est recommandée ; ce sont des scripts Python dans lesquels les fonctions correspondent à des url. Couplé au module intégré HTMLTags qui génère du code HTML à partir de code Python, les programmes Karrigell possèdent la même structure lisible et "propre" que tous les scripts Python

				<p>Les programmeurs qui sont plus à l'aise avec les scripts à la PHP - du code HTML avec du code Python inséré dans des balises spéciales &lt;% %&gt; - peuvent adopter le format "Python Inside HTML"
				<p><p>
            </div>
        </div>



    </div>

    <div id="footer">
            <div class="left">&copy; 2008 Karrigell. All rights reserved.</div>
            <div class="right">Design by <a class="pixel" href="http://www.pixelranchstudios.com/">Pixelranch Studios</a></div>
    </div>

</div>

</body>
</html>