body {font-family: sans-serif}
a {text-decoration:None; }
a:hover {color: #505050 }

.header {
	position:absolute;
	top:10px;
	left:130px;
	width:80%;
	margin:0 auto 10px;
	border:1px solid #ccc;
    }

div.pagetitle {
	margin:5px;
	padding:20px;
	border:1px solid #eee;
	border-width:1px;
	font-family:  Georgia,Serif;
	font-size:150%;
	line-height:1.2em;
	font-weight:normal;
	color:#666;
	text-transform:uppercase;
	text-align: center;
	letter-spacing:.2em;
    }

.content {
	position:absolute;
	top:150px;
	width:100%;
	margin:0 auto 10px;
    }

.links {
	position:relative;
	margin:0 auto 10px;
    }
