<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=iso-8859-1" >
<title>Karrigell $version</title>
<meta name="keywords" content="" >
<meta name="description" content="" >
<link rel="stylesheet" type="text/css" href="default.css" >
</head>
<body>

<div id="upbg"></div>
<div id="outer">
    <table id="header">
        <tr>
        <td id="headercontent">
            <h1>Karrigell<sup>$version</sup></h1>
            <h2>A pythonic web framework</h2>
        </td>

		<td id="section">
			<h1>Documentation</h1>

		</td>

    </table>

    <div id="menu">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="#" class="active">Why Karrigell?</a></li>
            <li><a href="http://sourceforge.net/project/showfiles.php?group_id=67940">Downloads</a></li>
            <li><a href="tour/tour.pih">Getting Started</a></li>
            <li><a href="reference.ks">Reference</a></li>
			<li><a href="http://groups.google.com/group/karrigell">Community</a></li>
        </ul>
    </div>
    <div id="menubottom"></div>


    <div id="content">

        <div id="normalcontent">
            <h3><strong>Karrigell</strong> <span>A pythonic web framework</span></h3>
            <div class="contentarea">
                <p>Karrigell is a flexible Python web framework, with a clear and intuitive syntax. It is independent from any database, ORM or templating engine, and lets the programmer choose between a variety of coding styles.</p>

				<p>It applies to web programming what Python applies to programming : simple, clear, easy to code and to maintain. To achieve this, Karrigell scripts are essentially normal Python scripts, run in a namespace that provides all the environment needed in a web application : form field values, HTTP request headers, cookies, etc. The namespace also provides built-in functions to manage sessions, localization, user profile, etc

				<p>The easiest way to use Karrigell is to run it as a standalone application, with a built-in web server. For Windows users, an executable is provided so that the whole application, including a Python interpreter with the SQLite database, can be started with a double-click and no configuration on any machine or from a USB key

				<p>Installing behind an Apache server is also very simple, either as a site administrator or in a shared web hosting situation : a preconfigured version of Karrigell is provided as a tarball, all you have to do is to decompress its content in the Document Root and choose the way you want to integrate server and framework : plain CGI mode or with mod_python. The choice only means that you have to change the name of one file !

				<p>The recommended way to create programs is to use "Karrigell services", which are pure Python scripts where functions map urls. Associated with the built-in module HTMLTags which generates HTML from Python code, Karrigell programs have the same clean structure as all Python scripts

				<p>For programmers who are more at ease with PHP-like scripts (HTML code with Python code inserted inside special tags &lt;% %&gt;) the Python Inside HTML format is available
				<p><p>
            </div>
        </div>



    </div>

    <div id="footer">
            <div class="left">&copy; 2009 Karrigell. All rights reserved.</div>
            <div class="right">Design by <a class="pixel" href="http://www.pixelranchstudios.com/">Pixelranch Studios</a></div>
    </div>

</div>

</body>
</html>